body {
  font-family: "Spectral", serif;
}
nav {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffc017;
  padding-block: 18px;
  padding-inline: 15%;
  border-bottom: 1px solid #191919;
}
.gruppo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  margin-left: 20px;
}
.nav_button {
  margin-left: 20px;
  color: rgb(241, 241, 241);
  background-color: #191919;
  border-radius: 50px;
  padding-inline: 15px;
  padding-block: 12px;
}
.hero {
  display: flex;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  padding-inline: 15%;
  height: 510px;
  box-sizing: border-box;
  position: relative;
}
.n1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-block: 70px;
}
.n1 h1 {
  font-size: 120px;
  font-weight: 500;
  letter-spacing: -8px;
  margin-bottom: 30px;
}
.n1 p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
}
.start {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(241, 241, 241);
  background-color: #191919;
  border-radius: 50px;
  padding-inline: 15px;
  padding-block: 6px;
  width: 220px;
  margin-bottom: 10px;
}
.n2 {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.trend {
  display: flex;
  align-items: center;
  padding-inline: 15%;
  margin-top: 40px;
  margin-bottom: 15px;
}
.trend .trendImg,
.testo {
  box-sizing: border-box;
}
.testo {
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
}
.container {
  display: flex;
  padding-inline: 15%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: flex;
  margin-right: 35px;
  width: 30%;
}
.card h3 {
  font-family: "Roboto", sans-serif;
  color: rgb(219, 219, 219);
  font-size: 38px;
  margin-right: 10px;
  font-weight: 600;
}
.contPiccolo {
  display: flex;
  flex-direction: column;
}
.cardS1 {
  display: flex;
  align-items: center;
}
.cardS1 img {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  scale: 0.7;
}
.cardS2 {
  font-size: 1.1rem;
  font-weight: 1000;
  margin-top: 10px;

  letter-spacing: -1px;
}

.cardS3 {
  display: flex;
  position: relative;
  margin-top: 18px;
  margin-bottom: 38px;
}
.cardS3 div {
  margin-right: 15px;
}
.punto {
  position: absolute;
  top: -4px;
  left: 54px;
}
